@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #180202;
  --bg: #fafafa;
  --pry: #000080;
  --prylight: #000080cf;
  --sec: #ada6b9;
  --seclight: #ada6b9ef;
  --acc: #a80000;
}

html {
  scroll-behavior: smooth;
  @apply font-inter bg-bg text-text;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #aaa #f5f5f5;
}
body {
  overflow-x: hidden;
}

#root {
  width: clamp(320px, 100%, 1500px);
  margin-inline: auto;
  position: relative;
}

.dark-pattern {
  background-image: url(./assets/dark-bg.jpg);
  background-size: cover;
}

.flipped-text {
  transform: scale(-1, 1);
}

#about-us {
  background-image: url(./assets/girl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Embla styling  */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* button {
  @apply text-sm;
}


@media (max-width: 640px) {
  .hero {
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.5)
      ),
      url(./assets/hero-bg.jpg) center;
  }
} */



/* not for about us  */
/* .utility {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(./assets/showcase_1.jpg), url(./assets/showcase_2.jpg),
    url(./assets/showcase_3.jpg);
  background-position: left, center, right;
  background-repeat: no-repeat;
  background-size: 30% 100%, auto 100%, 33.3% 100%;
} */

/* MASONRY CSS  */
/* .my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
} */

/* .my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
} */

/* .my-masonry-grid_column > div {
  margin-bottom: 10px;
}

.review-form {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}
.no_selector {
  color: #1802020d;
} */
